.side-bar
  .side-bar__top
    .side-bar__top--user-name
      .side-bar__name-list
        %h3.side-bar__name-list--name 
          = current_user.name
        %ul.side-bar__name-list--icon
          %li.side-bar__name-list--icon--left 
            = link_to "#", class: "side-left__btn" do
              = icon('fas', 'edit')
          %li.side-bar__name-list--icon--right 
            = link_to edit_users_path(current_user), class: "side-right__btn" do
              = icon('fas', 'cog')

  .side-bar__group-list
    .side-bar__group-list--bottom
      .side-bar__group-list--bottom--group-icon 
        = link_to "#", class: "group_name" do
          TECHCAMP
      .side-bar__group-list--bottom--group-message 
        = link_to "#", class: "group_contact" do
          まだメッセージがありません。
     