.side-bar
  .side-bar__top
    .side-bar__top--user-name
      .side-bar__name-list
        %h3.side-bar__name-list--name 
          = current_user.name
        %ul.side-bar__name-list--icon
          %li.side-bar__name-list--icon--left 
            = link_to new_group_path, class: "side-left__btn" do
              = icon('fas', 'edit')
          %li.side-bar__name-list--icon--right 
            = link_to edit_user_path(current_user), class: "side-right__btn" do
              = icon('fas', 'cog')

  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-bar__group-list--bottom
        = link_to group_messages_path(group), calss:"group-form" do
          .side-bar__group-list--bottom--group-name 
            = group.name
          .side-bar__group-list--bottom--group-message 
            = group.show_last_message
     